<a href="https://colab.research.google.com/github/akashsinghsharma/interview-questions-data-analyst/blob/main/%5Cpython%5C2_Common_Python_PANDAS_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interview Questions

Q. How do you filter a DataFrame in Pandas to include only rows where Sales > 10000 and Store is either 1 or 10?


Ans.

```
df_filt = df[(df['Sales'] > 10000) & (df['Store'].isin([1, 10]))]
```

Q. How can you find the top 5 stores by total sales from a DataFrame with Store and Sales columns?


Ans.

```
df_grouped = df.groupby('Store')['Sales'].sum()
df_top5 = df_grouped.sort_values(ascending=False).head(5)
```

In [3]:
import pandas as pd

df_path = '/content/sample_data/california_housing_train.csv'
df_sample = pd.read_csv(df_path)

In [4]:
df_sample.head(1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0

Q. Using the California housing dataset, how can you find the average median_house_value for each unique housing_median_age?

In [5]:
df_median_age = df_sample.groupby('housing_median_age')['median_house_value'].mean()

Q. How can you find all the rows where median_income is greater than 6 and median_house_value is above 300000?

In [6]:
df_filter = df_sample[(df_sample['median_income'] > 6) & (df_sample['median_house_value'] > 300000)]

What is the average total_bedrooms in the dataset, after removing any rows with missing values?

In [7]:
df_sample.dropna()['total_bedrooms'].mean()

np.float64(539.4108235294118)

In [8]:
df_sample['total_bedrooms'].dropna().mean() ## This will drop NAN from this given feature only. Seems like there were NAN Nan.

np.float64(539.4108235294118)

How many unique values are there in the ocean_proximity column, and what are they?

In [9]:
temp = df_sample['housing_median_age'].unique()
temp[:]

array([15., 19., 17., 14., 20., 29., 25., 41., 34., 46., 16., 21., 48.,
       31., 28., 24., 18., 30., 32., 23., 38., 35., 33., 13., 11., 10.,
        6., 12., 27., 22.,  5.,  8., 37.,  3., 44.,  2., 26.,  9.,  7.,
       36.,  4., 52., 40., 43., 42., 39., 49., 47., 50., 45., 51.,  1.])

In [10]:
df_sample['housing_median_age'].nunique()

52

Q. In your dataset, find the top 3 housing_median_age groups with the highest average median_house_value, but only among rows where total_rooms is greater than the median total_rooms of the dataset.

In [11]:
median_total_room = df_sample['total_rooms'].median()

df_temp = df_sample[df_sample['total_rooms'] > median_total_room]
df_temp = df_temp.groupby('housing_median_age')['median_house_value'].mean()
df_temp = df_temp.sort_values(ascending = False).head(3)

In [16]:
import pandas as pd

# Load the full California Housing dataset with ocean_proximity
url = 'https://raw.githubusercontent.com/nyandwi/public_datasets/master/housing.csv'
df = pd.read_csv(url)

Q. For each ocean_proximity category, calculate the proportion of houses with median_house_value above 300,000. Show the result as a DataFrame with columns: ocean_proximity, percentage_above_300k.

In [19]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY

# Group by Tutorial